img{
    margin-left: 43px;
    animation: rotate 2s linear infinite;
}
@keyframes rotate{
    from{
      transform: rotate(0deg);  
    }
    to{
    transform: rotate(360deg);
    }
}
input[type="number"],button{
margin: 33px;
border-radius: 10px;
border: 1px solid black;
display: inline-flex;
padding: 15px;
}